.main-body{
    display: grid;
    grid-template-columns: auto 900px auto;
    .table{
        a{
            text-decoration: none;
        }
        grid-column: 2;
        display: grid;
        grid-template-columns: 40px 4fr 1fr;
        row-gap: 1em;
        column-gap: 1em;
        >div{
            text-align: center;
        }
        >div:nth-child(3n+6){
            text-align: justify;
        }
        .header{
            grid-column: 1/ span 3;
        }
        .title{
            font-weight: 600;            
        }
    }
}
@media screen and (max-width:900px){
    .main-body{
        grid-template-columns: 100%;
        .table{
            grid-column: 1;
        }
    }
}