.main-body {
  display: grid;
  grid-template-columns: 5% 15% 65% 15%;
  .left-menu {
    grid-column: 2;
    .flex-center;
    justify-content: flex-start;
    .logo {
      max-width: 240px;
      img {
        .cover-img;
      }
    }
    .menu {
      width: 100%;
      nav > div > ul {
        width: 98%;
        > li {
          width: 100%;
          ul {
            margin-left: 100%;
            top: -0.5em;
          }
          a {
            width: 100%;
          }
        }
      }
    }
  }
  .right-content {
    grid-column: 3;
    .tool-check {
      display: grid;
      grid-template-columns: 40% 60%;
      .title {
        grid-column: 1 / span 2;
        grid-row: 1;
      }
      .header {
        grid-column: 1 / span 2;
        grid-row: 2;
      }
      .description {
        grid-row: e("3 / 5");
        .body {
          display: block;
          margin-top: 0.5em;
        }
      }
      > p {
        grid-column: 2;
        text-align: center;
        width: 90%;
        padding-left: 3%;
      }
      .microphone {
        grid-row: 3;
        width: 90%;
        height: 10em;
        padding-left: 5%;
        position: relative;
        .flex-center;
        svg#visualizer {
          display: block;
          width: 99%;
          height: 158px;
          padding: 0;
          margin-left: -6%;
          margin-bottom: 0;
          z-index:200 ;
          position: absolute;
        }
        .audio {
          z-index: 99;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        #btnStart {
          position: absolute;
          z-index: 999;
        }
        .error_msg {
          text-align: center;
          vertical-align: center;
        }
      }
      .qc-1 {
        grid-column: 1 / span 2;
        .flex-center;
        img {
          height: 10em;
        }
      }
    }
    .guide {
      margin: 3em 0em;
      display: grid;
      grid-template-columns: 50% 50%;
      div {
        padding-right: 2em;
      }
      .title {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 20% 80%;
        padding-right: 0;
      }
      ul {
        padding-left: 0;
      }
    }
    .moreInformation {
      width: 90%;
      h1 {
      }
      p {
        h2 {
        }
        span {
        }
      }
    }
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover-img {
  height: 100%;
  width: 100%;
  border-radius: calc(0.25rem - 1px);
  object-fit: contain;
  background: none;
  margin: auto;
  display: block;
}
