div.menu-top {
  nav {
    div#navbarNavDropdown {
      li.dropdown-submenu > a {
        pointer-events: unset;
      }
      li.dropdown-submenu:hover > ul.dropdown-menu {
        display: block;
      }
      li.nav-item:hover > ul.dropdown-menu {
        display: block;
      }
    }
  }
}
