@media screen and (max-width: 1000px) {
  .main-body {
    grid-template-columns: 100%;
    .content-block {
      #carousel-content {
        height: 141px;
        .carousel-indicators {
          > li {
          }
        }
        .carousel-item {
          .carousel-caption {
            &.mission {
              h1 {
              }
            }
            &.core-value {
              h1:first-child {
              }
              h1:nth-child(2) {
              }
            }
          }
          img {
          }
        }
      }
      .chapter {
        article {
          .title {
            padding-left: 0.3em;
            &::before {
              display: none;
            }
          }
          canvas {
            display: none;
          }
          .list-content {
            display: flex;
            flex-direction: column;
            > div {
              .img {
                a {
                  img {
                  }
                }
              }
              h4 {
              }
              span.date {
              }
              span.detail {
                svg {
                }
              }
              a {
                &:hover {
                }
              }
            }
            > a {
              &:hover {
              }
              h5.more-content {
                &:before {
                }
                span {
                  &:hover {
                  }
                }
              }
            }
          }
          .container {
            > #album-24h {
              display: flex;
              flex-direction: column;
              img {
              }
            }
          }
        }
      }
    }
  }
}

@background-color-btn-chat: rgb(252, 156, 29);
@white: #faf0e6;
@height-btn-func: calc(20vw - (2 * @wrapper-2-pad));
@wrapper-2-pad: 10px;
