.banner-top {
  .margin-body-24h;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr 2fr;  
  .logo {
    .flex-center;
    justify-content: start;
    img {
      max-width: 326px;
    }
    img.logo-img-small {
      display: none;
    }
  }
  .search {
    .flex-center-end;
    form {
      display: flex;
      align-items: center;
      svg {
        fill: #5f5f5f;
        width: 16px;
        height: 42px;
        border-bottom: 1px solid #adadad;
        bottom: 0;
      }
      input {
        padding-left: 13px;
        border: none;
        box-sizing: border-box;
        font-size: 13px;
        border-bottom: 1px solid #adadad;
        height: 42px;
        background-color: #f6f6f6;
        &:focus {
          outline: none !important;
          box-shadow: none;
        }
      }
    }
  }
  .order {
    .flex-center-end;
    a,
    span {
      margin: 0.25rem;
      text-align: end;
    }
  }
  .hotline {
    .flex-center-end;
    span {
      margin-left: 0.5rem;
      b {
        display: block;
        color: red;
        font-size: 1.5em;
      }
    }
  }
}
.menu-top {
  display: grid;
  grid-template-columns: auto 1170px auto;
  background-color: @main-color;
  svg {
    display: none;
  }
  nav {
    grid-column: 2;
    padding: 0;
    #navbarNavDropdown {
      > ul {
        width: 100%;
        justify-content: flex-start;
        background-color: @main-color;
        li {
          display: flex;
          position: relative;
          border-bottom: 0.2px solid #0088de4f;
          line-height: 34px;
          a {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            color: black;
            &:hover {
              color: @menu-top-hover;
            }
          }
          &:hover {
            background-color: @menu-top-hover;
          }
          div.icon-toggle {
            display: flex;
            align-items: center;
            padding: 0 0.5rem;
            background-color: white;
            svg path {
              fill: @main-color;
            }
          }
          ul.dropdown-menu {
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 0;
            position: absolute;
            > li {
              ul {
                top: 0;
                left: 100%;
                margin-right: 0.1rem;
              }
            }
          }
          &:last-child {
            border: none;
          }
          &:nth-child(7) > ul {
            top: 2.75rem;
            left: -175%;
          }
          &:last-child > ul {
            top: 2.75rem;
            left: -58%;
          }
        }
        > li {
          &:hover {
            background-color: @menu-top-hover !important;
          }
          > a {
            text-transform: uppercase;
            color: white !important;
            font-size: 14px;
            padding: 12px 9px 9px;
            line-height: 31px;
            &:hover {
              background-color: @menu-top-hover !important;
              color: white !important;
            }
          }
          > div.icon-toggle {
            display: none;
          }
        }
        > li:first-child > a {
          padding: 16px 10px 10px 18px;
        }
      }
    }
    .shopping-cart{
      color:white;
      display:flex;
      flex-direction: row;      
      align-items: center;
      svg{
        display:block;
        margin-right: 0.5rem;
      }      
    }
  }
}

@media screen and (max-width: 900px) {
  .main-top {
    display: grid;
    grid-template-columns: 80% 20%;
    height: min-content;
    div.banner-top {
      grid-template-columns: 100%;
      grid-column: 1;
      height: 45px;
      div.logo {
        img.logo-img {
          display: none;
        }
        img.logo-img-small {
          display: block;
          width: 90%;
        }
      }
      div.order,
      div.hotline {
        display: none;
      }
      div.search {
        display: none;
        position: absolute;
        top: 64px;
        left: 25vw;
        background: #f6f6f6;
        input {
          border-top: 1px solid #adadad;
          border-right: 1px solid #adadad;
        }
        svg {
          border-top: 1px solid #adadad;
          border-left: 1px solid #adadad;
          padding-left: 9px;
          width: 26px;
        }
      }
    }
    .menu-top {
      background-color: #f6f6f6;   
      height: 45px;      
      .flex-center;            
      .shopping-cart{
        display:none;
      }
      svg {
        display: inline-block;
        font-size: 19px;
        background-color: #f6f6f6;
      }      
      nav {        
        display:grid;
        grid-template-columns: auto auto;
        button {
          border: none;
        }
        .navbar-brand{
          margin-right: 0;
        }
        #navbarNavDropdown {          
          position: fixed;
          left: 0;
          top: 66px;
          width: 100%;
          ul {
            li {
              div.icon-toggle {
                display: flex;
                align-items: center;
                padding: 0 0.5rem;
                background-color: white;
                svg path {
                  fill: @main-color;
                }
              }
            }
          }
          > ul {
            > li:first-child {
              display: none;
            }
            li > div.icon-toggle {
              background-color: @main-color;
              svg path {
                fill: white;
              }
            }
          }
        }
      }
    }
  }
}

.menu-top-relative{
  position: relative;
}
.menu-top-fixed{
  position: fixed;
  top:0;
  width: 100%;
  height: auto;
  z-index: 9;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.margin-body-24h {
  margin: 0 auto;
  max-width: 1170px;
  background-color: #f6f6f6;
}
body {
  font: 14px/18px Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans,
    sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #f6f6f6 !important;
  height: 3000px;
}

@main-color: #0088de;
@menu-top-hover: #167fc1;

//event hover menu top
div.menu-top {
  nav {
    div#navbarNavDropdown {
      li.dropdown-submenu > a {
        pointer-events: unset;
      }
      li.dropdown-submenu:hover > ul.dropdown-menu {
        display: block;
      }
      li.nav-item:hover > ul.dropdown-menu {
        display: block;
      }
    }
  }
}
