.banner-top {
    margin: 0 auto;
    max-width: 1170px;
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 3fr 4fr 2fr 2fr;
}
.banner-top .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: start;
}
.banner-top .logo img {
    max-width: 326px;
}
.banner-top .logo img.logo-img-small {
    display: none;
}
.banner-top .search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.banner-top .search form {
    display: flex;
    align-items: center;
}
.banner-top .search form svg {
    fill: #5f5f5f;
    width: 16px;
    height: 42px;
    border-bottom: 1px solid #adadad;
    bottom: 0;
}
.banner-top .search form input {
    padding-left: 13px;
    border: none;
    box-sizing: border-box;
    font-size: 13px;
    border-bottom: 1px solid #adadad;
    height: 42px;
    background-color: #f6f6f6;
}
.banner-top .search form input:focus {
    outline: none !important;
    box-shadow: none;
}
.banner-top .order {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.banner-top .order a, .banner-top .order span {
    margin: 0.25rem;
    text-align: end;
}
.banner-top .hotline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.banner-top .hotline span {
    margin-left: 0.5rem;
}
.banner-top .hotline span b {
    display: block;
    color: red;
    font-size: 1.5em;
}
.menu-top {
    display: grid;
    grid-template-columns: auto 1170px auto;
    background-color: #0088de;
}
.menu-top svg {
    display: none;
}
.menu-top nav {
    grid-column: 2;
    padding: 0;
}
.menu-top nav #navbarNavDropdown > ul {
    width: 100%;
    justify-content: flex-start;
    background-color: #0088de;
}
.menu-top nav #navbarNavDropdown > ul li {
    display: flex;
    position: relative;
    border-bottom: 0.2px solid #0088de4f;
    line-height: 34px;
}
.menu-top nav #navbarNavDropdown > ul li a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
}
.menu-top nav #navbarNavDropdown > ul li a:hover {
    color: #167fc1;
}
.menu-top nav #navbarNavDropdown > ul li:hover {
    background-color: #167fc1;
}
.menu-top nav #navbarNavDropdown > ul li div.icon-toggle {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    background-color: white;
}
.menu-top nav #navbarNavDropdown > ul li div.icon-toggle svg path {
    fill: #0088de;
}
.menu-top nav #navbarNavDropdown > ul li ul.dropdown-menu {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
}
.menu-top nav #navbarNavDropdown > ul li ul.dropdown-menu > li ul {
    top: 0;
    left: 100%;
    margin-right: 0.1rem;
}
.menu-top nav #navbarNavDropdown > ul li:last-child {
    border: none;
}
.menu-top nav #navbarNavDropdown > ul li:nth-child(7) > ul {
    top: 2.75rem;
    left: -175%;
}
.menu-top nav #navbarNavDropdown > ul li:last-child > ul {
    top: 2.75rem;
    left: -58%;
}
.menu-top nav #navbarNavDropdown > ul > li:hover {
    background-color: #167fc1 !important;
}
.menu-top nav #navbarNavDropdown > ul > li > a {
    text-transform: uppercase;
    color: white !important;
    font-size: 14px;
    padding: 12px 9px 9px;
    line-height: 31px;
}
.menu-top nav #navbarNavDropdown > ul > li > a:hover {
    background-color: #167fc1 !important;
    color: white !important;
}
.menu-top nav #navbarNavDropdown > ul > li > div.icon-toggle {
    display: none;
}
.menu-top nav #navbarNavDropdown > ul > li:first-child > a {
    padding: 16px 10px 10px 18px;
}
.menu-top nav .shopping-cart {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-top nav .shopping-cart svg {
    display: block;
    margin-right: 0.5rem;
}
@media screen and (max-width: 900px) {
    .main-top {
        display: grid;
        grid-template-columns: 80% 20%;
        height: min-content;
   }
    .main-top div.banner-top {
        grid-template-columns: 100%;
        grid-column: 1;
        height: fit-content;
   }
    .main-top div.banner-top div.logo img.logo-img {
        display: none;
   }
    .main-top div.banner-top div.logo img.logo-img-small {
        display: block;
        width: 90%;
   }
    .main-top div.banner-top div.order, .main-top div.banner-top div.hotline {
        display: none;
   }
    .main-top div.banner-top div.search {
        display: none;
        position: absolute;
        top: 64px;
        left: calc(-37.5%);
   }
    .main-top div.banner-top div.search input {
        border-top: 1px solid #adadad;
        border-right: 1px solid #adadad;
   }
    .main-top div.banner-top div.search svg {
        border-top: 1px solid #adadad;
        border-left: 1px solid #adadad;
        padding-left: 9px;
        width: 26px;
   }
    .main-top .menu-top {
        background-color: #f6f6f6;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
   }
    .main-top .menu-top .shopping-cart {
        display: none;
   }
    .main-top .menu-top svg {
        display: inline-block;
        font-size: 19px;
        background-color: #f6f6f6;
   }
    .main-top .menu-top nav {
        display: grid;
        grid-template-columns: auto auto;
   }
    .main-top .menu-top nav button {
        border: none;
   }
    .main-top .menu-top nav .navbar-brand {
        margin-right: 0;
   }
    .main-top .menu-top nav #navbarNavDropdown {
        position: fixed;
        left: 0;
        top: 66px;
        width: 100%;
   }
    .main-top .menu-top nav #navbarNavDropdown ul li div.icon-toggle {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        background-color: white;
   }
    .main-top .menu-top nav #navbarNavDropdown ul li div.icon-toggle svg path {
        fill: #0088de;
   }
    .main-top .menu-top nav #navbarNavDropdown > ul > li:first-child {
        display: none;
   }
    .main-top .menu-top nav #navbarNavDropdown > ul li > div.icon-toggle {
        background-color: #0088de;
   }
    .main-top .menu-top nav #navbarNavDropdown > ul li > div.icon-toggle svg path {
        fill: white;
   }
}
.menu-top-relative {
    position: relative;
}
.menu-top-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.margin-body-24h {
    margin: 0 auto;
    max-width: 1170px;
    background-color: #f6f6f6;
}
body {
    font: 14px/18px Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #f6f6f6 !important;
    height: 3000px;
}
div.menu-top nav div#navbarNavDropdown li.dropdown-submenu > a {
    pointer-events: unset;
}
div.menu-top nav div#navbarNavDropdown li.dropdown-submenu:hover > ul.dropdown-menu {
    display: block;
}
div.menu-top nav div#navbarNavDropdown li.nav-item:hover > ul.dropdown-menu {
    display: block;
}
