.banner-top {
  max-width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: 5fr 4fr 3fr 5fr;
  > div {
    height: 80px;
  }
  div.logo {
    .flex-center;
    justify-content: start;
    img {
      max-width: 326px;
    }
  }
  div.search {
    .flex-center;
  }
  div.order {
    .flex-center;
    flex-direction: row;
    a,
    span {
      margin: 0.25rem;
    }
  }
  div.hotline {
    .flex-center;
    flex-direction: row;
    a,
    span {
      margin-left: 0.5rem;
      b {
        display: block;
      }
    }
  }
}
.menu-top {
  width:100%;  
  nav {
    max-width: 1170px;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    div#navbarNavDropdown {
      > ul {
        width: 100%;
        justify-content: space-between;
        li {
          display: flex;
          position: relative;
          a {
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
          }
          div.icon-toggle {
            display: flex;
            align-items: center;
            padding: 0 0.5rem;
          }
          ul.dropdown-menu {
            margin-top: 0;
            position: absolute;
            > li {
              ul {
                top: 0;
                left: 100%;
                margin-right: 0.1rem;
              }
            }
          }
          &:nth-child(7) > ul {
            top: 2.75rem;
            left: -175%;
          }
          &:last-child > ul {
            top: 2.75rem;
            left: -58%;
          }
        }
      }
    }
  }
}
.main-body {
  display: grid;
  grid-template-columns: 5% 15% 65% 15%;
  .left-menu {
    grid-column: 2;
    .flex-center;
    justify-content: flex-start;
    .logo {
      max-width: 240px;
      img {
        .cover-img;
      }
    }
    .menu {
      width: 100%;
      nav > div > ul {
        width: 98%;
        > li {
          width: 100%;
          ul {
            margin-left: 100%;
            top: -0.5em;
          }
          a {
            width: 100%;
          }
        }
      }
    }
  }
  .right-content {
    grid-column: 3;    
  }
}
@import url("utils.less");
@import url("/css/layout/1360/layout.less");
