.menu-top {
  .navbar {
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          &:hover {
            background-color: @main-color-5;
          }
          .nav-link {
            text-transform: uppercase;
            color: white;
          }
          .dropdown-menu {
            li {
              border-bottom: 0.2px solid #0088de4f;
              a{
                font-size: 1.2em;
                &:hover {
                  color: @main-color-4;
                  background-color: white;
                }
              }
              &:last-child {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
@import url("/css/style/utils.less");
