.banner-top {
  .search {
    form {
      border-bottom: 1px solid #5f5f5f;
      width: 8em;
      display: grid;
      grid-template-columns: 1fr auto;
      svg {
        width: 0.85em;
        fill: #5f5f5f;
      }
      input {
        border: 0;
        font-size: 0.9rem;
        line-height: 2em;
        padding-left: 1em;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .order {
    span {
      font-size: 0.95rem;
      line-height: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  .hotline > span {
    font-size: 0.7rem;
    text-transform: uppercase;
    b {
      font-size: 1.75em;
      font-weight: 700;
      color: red;
      margin-top: -0.5rem;
    }
  }
}
.menu-top {
  .navbar {
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          &:hover {
            background-color: @main-color-5;
          }
          .nav-link {
            text-transform: uppercase;
            color: white;
          }
          .dropdown-menu {
            li {
              border-bottom: 0.2px solid #0088de4f;
              a {
                font-size: 1.2em;
                &:hover {
                  color: @main-color-4;
                  background-color: white;
                }
              }
              &:last-child {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
.main-body {
  font-size: 1em !important;
  .left-menu {
    .menu {
      nav > div > ul {
        > li {
          border-bottom: 0.2px solid @main-color-4;
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background-color: @main-color-2 !important;
          }
          > a {
            text-transform: uppercase;
            color: @main-color-1 !important;
            font-size: 1em !important;
            &:hover {
              color: white !important;
            }
          }
          a {
            font-size: 1em;
            .icon-toggle {
              display: block;
              float: right;
              margin-top: 0.5em;
              margin-right: 0.255em;
              content: "";
              border-top: 0.3em solid;
              border-right: 0.3em solid transparent;
              border-bottom: 0;
              border-left: 0.3em solid transparent;
              transform: rotate(-90deg);
            }
          }
          &:last-child {
            > a > .icon-toggle {
              margin-top: 0.1em;
            }
          }
          > ul > li {
            border-bottom: 0.2px solid @main-color-4;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  .tool-check {
    .title {
      font-weight: bolder;
      font-size: xx-large;
      text-transform: uppercase;
      color: @main-color-1;
    }
    .header {
      font-size: 1.5em;
      color: rgb(67, 111, 142);
    }
    .description {
      .top {
        span {
          color: rgb(67, 111, 142);
          font-size: 1.5em;
        }
      }
      .body {
        ul > li {
          font-family: "Open Sans";
          font-weight: 600;
          list-style-type: decimal;
          font-size: 1.2em;
        }
        span {
          text-align: start;
          color: @main-color-3;                
        }
      }
    }
    p{
      font-style: italic;
      color: rgb(102, 102, 102);
    }
    .microphone{
      .info_FPS{
        background-color: white;
        font-weight: 600;
      }
      .error_msg{
        font-size: 1.5em;
        font-weight: 600;
        color:@main-color-3;        
      }
      .audio{
        background-color: black;
      }      
    }
  }
  .guide {    
    h1 {
      color: @main-color-3;      
    }    
    ul > li {
      list-style-type: none;      
      svg {
        transform: rotate(45deg);
        margin-right: 1em;
      }
    }
  }
  .moreInformation {
    font-size: 1.2em;
    h1 {
      color: @main-color-3;
    }
    div {
      h2 {
        color: rgb(67, 111, 142);
      }
      p {
        b{
          font-weight: 500;          
          i{
            color:red;
          }
        }
      }
    }
  }
}

//utils
@main-color-1: #007bff;
@main-color-2: #2a86c8;
@main-color-0: #0088de;
@main-color-4: #007bff;
@main-color-5: #167fc1;
@main-color-3: rgb(226, 92, 27);

.bg24h {
  background-color: @main-color-0;
}

//event
div.menu-top {
  nav {
    div#navbarNavDropdown {
      li.dropdown-submenu > a {
        pointer-events: unset;
      }
      li.dropdown-submenu:hover > ul.dropdown-menu {
        display: block;
      }
      li.nav-item:hover > ul.dropdown-menu {
        display: block;
      }
    }
  }
}
//event
.left-menu {
  .menu {
    nav {
      div#navbarNavDropdown {
        li.dropdown-submenu > a {
          pointer-events: unset;
        }
        li.dropdown-submenu:hover > ul.dropdown-menu {
          display: block;
        }
        li.nav-item:hover > ul.dropdown-menu {
          display: block;
        }
      }
    }
  }
}
