@media screen and (max-width: 991px) {
  div.my-container {
    div.banner-top {
      grid-template-columns: 2fr 1fr 2fr;
      > div {
        height: 5em;
      }
      div.logo {
        grid-column: 1 / span 3;
        height: 9em;
        img {
          .cover-img;
          max-width: none;
        }
      }
    }

    div.menu-top {
      nav {
        div#navbarNavDropdown {
          > ul {
            li:nth-child(7) > ul {
              top: 0;
              left: 0;
            }
            li:last-child > ul {
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
    div.catalog {      
      div.menu-left {        
        ul {          
          width: 100%;          
          li {
            a {
              div.text-menu-left {
              }
            }
          }
        }
      }
      div.hot-slide {        
        div.tab-content {
        }
        div.carousel.slide {
          ol.carousel-indicators {
          }
          div.carousel-inner {
            div.carousel-item {
              img {
              }
            }
          }
        }
      }
      div.hot-services {        
        img {
        }
      }
    }
  }
}
