div.my-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  height: 200vh;

  div.banner-top {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr 5fr;
    > div {
      height: 80px;
    }
    div.logo {
      .flex-center;
      justify-content: start;
      img {
        max-width: 326px;
      }
    }
    div.search {
      .flex-center;
    }
    div.order {
      .flex-center;
      a,
      span {
        margin: 0.25rem;
      }
    }
    div.hotline {
      .flex-center;
      span {
        margin-left: 0.5rem;
        b {
          display: block;
        }
      }
    }
  }
  div.menu-top {
    nav {
      padding-top: 0;
      padding-bottom: 0;
      div#navbarNavDropdown {
        > ul {
          width: 100%;
          justify-content: space-between;
          li {
            display: flex;
            position: relative;
            a {
              padding-left: 0.5rem !important;
              padding-right: 0.5rem !important;
            }
            div.icon-toggle {
              display: flex;
              align-items: center;
              padding: 0 0.5rem;
            }
            ul.dropdown-menu {
              margin-top: 0;
              position: absolute;
              > li {
                ul {
                  top: 0;
                  left: 100%;
                  margin-right: 0.1rem;
                }
              }
            }
            &:nth-child(7)>ul {
              top: 2.75rem;
              left: -175%;
            }
            &:last-child>ul {
              top: 2.75rem;
              left: -58%;
            }
          }
        }
      }
    }
  }
}

@import url("/css/layout/layout-900.less");
@import url("/css/layout/layout-600.less");
@import url("/css/layout/layout-540.less");

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover-img {
  height: 100%;
  width: 100%;
  border-radius: calc(0.25rem - 1px);
  object-fit: contain;
  background: none;
  margin: auto;
  display: block;
}
