@media screen and (max-width: 600px) {
  div.my-container {    
    div.banner-top {      
      grid-template-columns:60% 20% 20%;            
      div.logo {
        grid-column: 1 / span 3;
        height: 9em;        
        img {
          .cover-img;
          max-width: none;
        }
      }      
      div.order {                
        span {
          display:none;
        }
      }
      div.hotline {        
        span {
          display:none;
        }
      }
    }
  }
}
