@media screen and (max-width: 1100px) {
  div.my-container {    
    div.catalog {     
      grid-template-columns: 3.5fr 1.5fr; 
      div.menu-left {
        grid-column:1 / span 2;            
        ul {      
          margin: auto;  
          width: 80%;
          justify-content: space-around;  
          li {
            a {            
              div.text-menu-left {
              }
            }
          }
        }
      }
      div.hot-slide {
        grid-column: 1;        
        div.tab-content {
        }
        div.carousel.slide {
          ol.carousel-indicators {
          }        
          div.carousel-inner {
            div.carousel-item{
              img{
              }
            }
          }
        }
      }
      div.hot-services {    
        grid-column: 2;          
        img{
        }
      }
    }
  }
}
